/* General Styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/* Header Section */
header {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url('../Images/BackgroundImage.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
}

header h1 {
    margin: 0;
    color: whitesmoke;
}

/* Header Layout */
.cabeçalho {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Logo Section */
.logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.logo h1 {
    width: 100%;
}

.logo img {
    margin-right: 15px;
}

#logo {
    width: 20%;
    color: whitesmoke;
}

/* Menu Section */
.menu ul {
    display: flex;
    flex-direction: row;
}

.menu ul li {
    margin: 0 10px;
}

.menu ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
}

/* Main Content */
.blocoGrande {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-contente: center;
    flex: 1;
}



/* Cadastro Section */
.cadastro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
}

.cadastro h1 {
    font-size: 50px;
}

.cadastro p {
    font-size: 20px;
    margin-top: 10px;
}

.textoboasvindas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

/* Login Box */
.loginBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    align-self: flex-start;
}

.loginBox form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.loginBox form input,
.loginBox form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    box-sizing: border-box; /* Ensure padding is included in width */
}

.loginBox form input {
    background-color: #f2f2f2;
}

.loginBox form button {
    background-color: #af904c;
    color: white;
    font-size: 16px;
}

.loginBox form button:hover {
    background-color: #8f6c3a;
}

.loginBox h2 {
    margin: 2px;
}

@media (max-width: 768px) {
    .cadastro {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .textoboasvindas {
        display: none;
    }
    .loginBox {
        width: 100%;
    }
    .menu ul {
        display: none;
    }
    .logo{
        align-self: center;
    }
}
