/* General Styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/* Header Section */
header {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url('../Images/BackgroundImage.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    color: whitesmoke;
}

header h1 {
    margin: 0;
    color: whitesmoke;
}

/* Header Layout */
.cabeçalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

/* Logo Section */
.logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.logo h1 {
    width: 100%;
}

.logo img {
    margin-right: 15px;
}

#logo {
    width: 20%;
    color: whitesmoke;
}

/* Menu Section */
.menu ul {
    display: flex;
    flex-direction: row;
}

.menu ul li {
    margin: 0 10px;
}

.menu ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
}



/* Cadastro */
.cadastro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    width: 550px;
    margin-left: 70px;
    margin-top: 30px;
}

.cadastro h1{
    font-size: 50px;
}

.cadastro p{
    font-size: 20px;
    margin-top: 10px;
}